﻿<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
// <copyright file = "Vertex.cs" company="SUNRUSE">
// Copyright (c) 2014 SUNRUSE 
// All rights reserved.
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//     * Redistributions of source code must retain the above copyright
//       notice, this list of conditions and the following disclaimer.
//     * Redistributions in binary form must reproduce the above copyright
//       notice, this list of conditions and the following disclaimer in the
//       documentation and/or other materials provided with the distribution.
//     * Neither the name of the <organization> nor the
//       names of its contributors may be used to endorse or promote products
//       derived from this software without specific prior written permission.
// 
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
// ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
// WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
// DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
// DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
// (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
// LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
// ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
// SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
// </copyright>
// <author>James Wild</author>
// <date>19/06/2014 08:37:21 PM</date>
// <summary>Automatically generated immutable vertices.</summary>

// This file was automatically generated by Vertex.tt.
// It should not be modified directly.
// Any changes made will reverted on regenerating Vertex.tt.
using System;
using System.Runtime.Serialization;

namespace SUNRUSE.Meshes
{
	using Vectors;
	using Colors;
<# 
var dimensions = new[]{ 'X', 'Y', 'Z', 'W' };

for( int size = 2; size <= dimensions.Length; size++ ) 
{
	foreach( var normal in new[]{ true, false } )
	{
		foreach( var color in new[]{ null, "RGB", "RGBA" } )
		{
			foreach( var textureCoordinate in new[]{ true, false })
			{
				var componentList = new[]{ new{ Type = "Vector" + size.ToString(), Name = "Location", ListName = "location", Interface = String.Format( "IVertexLocation<Vector{0}>", size ), Dimensions = dimensions.Select( d => d.ToString() ).Take( size ), ComponentType = typeof( Single ), ComponentSize = sizeof( Single ) } }.ToList();
				var bufferList = new[]{ new{ Interface = "IVertexLocation", Components = size, BytesPerComponent = sizeof( Single ) } }.ToList();

				if( normal )
				{
					componentList.Add( new{ Type = String.Format( "Vector{0}", size ), Name = "Normal", ListName = "normal", Interface = String.Format( "IVertexNormal<Vector{0}>", size ), Dimensions = dimensions.Select( d => d.ToString() ).Take( size ), ComponentType = typeof( Single ), ComponentSize = sizeof( Single ) } );
					bufferList.Add( new { Interface = "IVertexNormal", Components = size, BytesPerComponent = sizeof( Single ) } );
				}

				if( textureCoordinate )
				{
					componentList.Add( new{ Type = "Vector2", Name = "TextureCoordinate", ListName = "texture coordinates", Interface = "IVertexTextureCoordinate", Dimensions = dimensions.Select( d => d.ToString() ).Take( 2 ), ComponentType = typeof( Single ), ComponentSize = sizeof( Single ) } );
					bufferList.Add( new { Interface = ( String ) null, Components = 2, BytesPerComponent = sizeof( Single ) } );
				}

				if( color != null )
				{
					componentList.Add( new{ Type =  String.Format( "Color{0}", color ), Name = String.Format( "Color{0}", color ), ListName = String.Format( "{0} color", color ), Interface = String.Format( "IVertexColor{0}", color ), Dimensions = new[]{ "Red", "Green", "Blue", "Alpha" }.Take( color.Length ), ComponentType = typeof( Byte ), ComponentSize = sizeof( Byte ) } );
					bufferList.Add( new { Interface = "IVertexColor", Components = color.Length, BytesPerComponent = 1 } );
				}

				var typeName = String.Format( "Vertex{0}{1}", size, String.Join( "", componentList.Skip( 1 ).Select( cl => cl.Name ) ) );
#>	
	/// <summary>An immutable <#=size#>-dimensional vertex<#=componentList.Any() ? ", with " : ""#><#
	foreach( var component in componentList.Skip( 1 ) )
	{
		#><#=component == componentList.Skip( 1 ).First() || component == componentList.Last() ? "" : ", "#><#
		#><#=component == componentList.Last() && componentList.Count > 2 ? " and " : ""#><#
		#><#=component.ListName#><#
	}
	#>.</summary>
	[DataContract( Name = "<#=typeName#>", Namespace = "" )]
	public struct <#=typeName#> : IBufferable, <#=String.Join( ", ", componentList.Select( cl => cl.Interface ).Union( bufferList.Select( bl => bl.Interface ) ).Where( i => i != null ) )#>
	{ 
<#		var offset = 0;
		foreach(var component in componentList)
		{
#>		/// <summary>The <#=component.ListName#> of this <see cref="<#=typeName#>"/>.</summary>
		[DataMember( Name = "<#=component.Name#>", Order = <#=componentList.IndexOf( component )#>, IsRequired = true )]
		public readonly <#=component.Type#> <#=component.Name#>;

		/// <inheritdoc />
		<#=component.Type#> <#=component.Interface#>.<#=component.Name#> { get{ return <#=component.Name#>; } }

		/// <inheritdoc />
		int IBufferableComponent<<#=component.Interface#>>.Size { get{ return <#=component.Dimensions.Count() * component.ComponentSize#>; } }

		/// <inheritdoc />
		int IBufferableComponent<<#=component.Interface#>>.Offset { get{ return <#=offset#>; } }

<#
			offset += component.Dimensions.Count() * component.ComponentSize;
		}
	#>
<#		offset = 0;
		foreach(var buffer in bufferList)
		{
			if( buffer.Interface != null )
			{
#>		/// <inheritdoc />
		int IBufferableComponent<<#=buffer.Interface#>>.Size { get{ return <#=buffer.Components * buffer.BytesPerComponent#>; } }

		/// <inheritdoc />
		int IBufferableComponent<<#=buffer.Interface#>>.Offset { get { return <#=offset#>; } }

<#
			}

			offset += buffer.Components * buffer.BytesPerComponent;
		}
	#>
		void IBufferable.WriteToBuffer( Byte[] buffer, int offset )
		{
			if( buffer == null )
				throw new ArgumentNullException( "buffer" );

			if( offset < 0 )
				throw new ArgumentOutOfRangeException( "offset", "Cannot be less than zero" );

			if( offset + ( ( IBufferable ) this ).Size > buffer.Length )
				throw new ArgumentException( "buffer is not large enough to contain this type at the given offset" );

			Byte[] asBytes;
<#			offset = 0;
			foreach( var component in componentList )
			{
				foreach( var dimension in component.Dimensions )
				{
					#>
					
			asBytes = BitConverter.GetBytes( <#=component.Name#>.<#=dimension#> );
			Array.Copy( asBytes, 0, buffer, offset + <#=offset#>, sizeof( <#=component.ComponentType.Name#> ) );<#
			offset += component.ComponentSize;
				}
			}#>

		}

		int IBufferable.Size { get { return <#=offset#>; } }

		/// <inheritdoc />
		public override String ToString()
		{
			return String.Format( "<#=typeName#>{{ <#
			foreach( var component in componentList )
			{
				#><#=component.Name#>: {<#=componentList.IndexOf( component )#>}<#
				#><#=component == componentList[ componentList.Count - 1 ] ? "" : ", "#><#
			}
			#> }}", <#
			foreach( var component in componentList )
			{
				#><#=component.Name#><#
				#><#=component == componentList[ componentList.Count - 1 ] ? "" : ", "#><#
			}
			#> );
		}

		/// <inheritdoc /><#
		foreach(var component in componentList)
		{
			#>
			
		/// <param name="<#=component.Name.First().ToString().ToLower() + component.Name.Substring( 1 )#>">The value of <see cref="<#=component.Name#>"/>.</param><#
		}#>

		public <#=typeName#>(<#
		foreach(var component in componentList)
		{
			#><#=component == componentList.First() ? "" : ", "#><#
			#><#=component.Type#> <#
			#><#=component.Name.First().ToString().ToLower() + component.Name.Substring( 1 )#><#
		}
		#>)
		{<#
		foreach(var component in componentList)
		{
			#>
			
			<#=component.Name#> = <#=component.Name.First().ToString().ToLower() + component.Name.Substring( 1 )#>;<#
		}#>

		}
	}
<#			}
		}
	}
} #>
}